.container
  .row.centered-form
    .col-xs-12.col-sm-8.col-md-4.col-sm-offset-2.col-md-offset-4
      .panel.panel-default
        .panel-heading
          .panel-heading
          .h1.panel-title
            %h1 Log in
          .panel-body
            .row
              .col-xs-6.col-sm-6.col-md-12
                = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
                  .field
                    = f.label :email
                    %br/
                    = f.email_field :email, autofocus: true, class: 'form-control input-sm'
                  .field
                    = f.label :password
                    %br/
                    = f.password_field :password, autocomplete: "off", class: 'form-control input-sm'
                  - if devise_mapping.rememberable?
                    .field
                      = f.check_box :remember_me
                      = f.label :remember_me
                  .actions
                    = f.submit "Log in", class: 'btn btn-primary form-control input-sm'
                = link_to "Back", :back, class: 'btn btn-primary form-control input-sm'
                %i= link_to 'Not yet registered?', new_user_registration_path
